* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Caveat Brush;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: #232020;
}

/* title */
h1 {
    font-weight: 300;
    font-size: 90px;
    text-align: center;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-weight: 300;
    font-size: 40px;
    text-transform: lowercase;
    text-align: center;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/* weather */
.fa-umbrella {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: -300px;
    cursor: pointer;
    color: #a62cb9;
    font-size: 38px;
}

.weather {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid #d99f55;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    top: calc(50% - 140px);
}

/* calender */
.calendar-wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    background: #232020;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px;
    border: 2px solid #4ddc69;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    top: calc(50% - 140px);
    position: absolute;
    z-index: 20;
}

.info-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d99f55;
    border-radius: 10px;
    margin: 10px 0;
}

.fa-arrow-right {
    font-size: 40px;
    cursor: pointer;
    color: #a62cb9;
}

.fa-arrow-left {
    font-size: 40px;
    cursor: pointer;
    color: #d99f55;
}

.fa-solid:hover {
    color: #ade017;
}

.fa-solid:active {
    transform: scale(0.5);
    color: #fff;
}

.info {
    font-family: Caveat Brush;
    font-size: 40px;
    text-transform: uppercase;
    background-image: linear-gradient(132deg, #F4D03F 0%, #963491 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.cell-block {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.cell {
    width: calc(100% / 8);
    height: 50px;
    border: 1px solid #7c9413;
    border-radius: 5px;
    font-size: 38px;
    color: #bbb8b8;
}

.dayname {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #bbb8b8;
    border: none;
    font-weight: 300;
}

.weekend {
    background-image: linear-gradient(132deg, #F4D03F 0%, #963491 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/* class for cells of current month */
.allmonthcell {
    border: 4px solid #F4D03FFF;
}

/* current day */
.currentday {
    background-color: #1e3823;
}


/* weather */