* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Caveat Brush;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: #232020;
}

h1 {
    font-weight: 300;
    font-size: 90px;
    text-align: center;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-weight: 300;
    font-size: 40px;
    text-transform: lowercase;
    text-align: center;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 500px;
    height: 500px;
    padding: 15px;
    border: 2px solid #4ddc69;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    top: calc(50% - 140px);
    position: absolute;
}

.info-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d99f55;
    border-radius: 10px;
    margin: 10px 0;
}

.fa-solid {
    font-size: 28px;
    color: #ade017;
    cursor: pointer;
}

.fa-solid:active {
    font-size: 22px;
    color: #fff;
}

.info {
    font-family: Caveat Brush;
    font-size: 40px;
    text-transform: uppercase;
    background-image: linear-gradient(132deg, #F4D03F 0%, #963491 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.cell-block {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.cell {
    width: calc(100% / 8);
    height: 50px;
    border: 1px solid #7c9413;
    border-radius: 5px;
    font-size: 30px;
    color: #bbb8b8;
}

.day {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #bbb8b8;
    border: none;
    font-weight: 300;
}

.weekend {
    background-image: linear-gradient(132deg, #F4D03F 0%, #963491 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}