* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Arial;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: #121b2d;
    background-size: cover;
}

/*.load-block {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 20px);
}*/

.widget {
    display: flex;
    width: 300px;
    height: 500px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #103a64;
    left: 0;
    right: 0;
    top: calc(50% - 200px);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    user-select: none;
    z-index: 50;
}

.now {
    font-size: 16px;
    letter-spacing: 3px;
}

.weather-icon {
    width: 90px;
    height: 90px;
}

.weather-description {
    font-size: 20px;
    color: #fff;
}

.forecast {
    width: 100%;
    display: flex;
    padding: 7px;
    justify-content: space-between;
    border-top: 1px solid #98bcf1;
    border-bottom: 1px solid #98bcf1;
}

.forecast-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descr {
    font-weight: 600;
}

.night-img, .daytime-img {
    width: 40px;
    height: 40px;
}

.city-name {
    font-size: 36px;
    font-weight: 600;
}

.items {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-part {
    font-size: 16px;
}

.wind-img, .humidity-img {
    width: 40px;
    height: 40px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
}

.city-input {
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    outline: 0 !important;
    border: none;
    background-color: #3c638b;
    border-radius: 10px;
    user-select: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.btn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #3c638b;
    color: #98bcf1;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #98bcf1;
    color: #3f3d3d;
}

.btn:active {
    background: #f5c70c;
    color: #333333;
}

::placeholder {color: #98bcf1;}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 40%;
}