* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #3f3d3d;
    user-select: none;
}
h1 {
    font-size: 70px;
    color: #fff;
    text-transform: capitalize;
}

.technologies {
    font-size: 20px;
    color: #bebbbb;
}

.discription {
    margin: 0 auto;
    text-align: center;
}

.calculator {
    width: 400px;
    height: 620px;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    top: calc(50% - 250px);
    background: #171616;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.calculator:hover {
    -webkit-box-shadow: 0 2px 5px 3px rgba(4, 255, 0, 0.31);
    -moz-box-shadow: 0 2px 5px 3px rgba(4, 255, 0, 0.31);
    box-shadow: 0 2px 5px 3px rgba(4, 255, 0, 0.31);
}


.result {
    height: 220px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    overflow: hidden;
    font-size: 70px;
    margin-bottom: 20px;
    border: 1px solid #3f4841;
    border-radius: 20px;
    opacity: 80%;
}

.buttons {
    display: grid;
    grid-template-areas:
    'ac M-plus M-minus multi'
    'seven eight nine division'
    'four five six plus'
    'one two three minus'
    'point zero plus-minus equally';
    grid-gap: 20px;
    justify-items: center;
}

.btn {
    width: 80px;
    height: 50px;
    background: #333;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    transition: 0.2ms;
}

.btn:hover {
    background: #3f3d3d;
}

.btn:active{
    background: #f5c70c;
}

.btn-grey {
    background: #535453;
}

.btn-grey:hover {
    background: #81817f;
}

.btn-grey:active {
    background: #fff;
}

.btn-orange {
    background: #FF8C00;
}

.btn-orange:hover{
    background: #fa9f31;
}

.btn-orange:active {
    background: #67f383;
}

.btn-green {
    background: #309d45;
    /*grid-area: equality;*/
}

.btn-green:hover {
    background: #4ddc69;
}

.btn-green:active {
    background: #fa9f31;
}
