* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Arial;
    font-weight: 400;
    background-color: #000;
    user-select: none;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 110% 0;
}

.calculator {
    width: 430px;
    height: 680px;
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 250px);
    background: #171616;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.calculator:hover {
    -webkit-box-shadow: 0 3px 5px 5px rgb(255, 255, 254);
    -moz-box-shadow: 0 3px 5px 5px rgb(255, 255, 254);
    box-shadow: 0 3px 5px 5px rgb(255, 255, 254);
}

.result {
    height: 220px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    overflow: hidden;
    font-size: 100px;
    text-align: left;
    color: #c0bebe;
    margin-bottom: 20px;
    border: 1px solid #3f4841;
    border-radius: 20px;
    background: #3e6245;
    opacity: 80%;
    transition: .6s;
}

.label {
    font-weight: 900;
    font-size: 20px;
    padding: 8px;
    color: #393b3b;
    text-align: center;
    text-transform: uppercase;
}

.buttons {
    display: grid;
    grid-template-areas:
    'ac M-plus M-minus multi'
    'seven eight nine division'
    'four five six plus'
    'one two three minus'
    'point zero plus-minus equally';
    grid-gap: 20px;
    justify-items: center;
}

.btn {
    width: 80px;
    height: 50px;
    background: #333;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    transition: 0.2ms;
}

.btn:hover {
    background: #3f3d3d;
}

.btn:active{
    background: #f5c70c;
}

.btn-grey {
    background: #535453;
}

.btn-grey:hover {
    background: #81817f;
}

.btn-grey:active {
    background: #fff;
}

.btn-orange {
    background: #FF4F00;
}

.btn-orange:hover{
    background: #fa9f31;
}

.btn-orange:active {
    background: #67f383;
}

.btn-green {
    background: #309d45;
}

.btn-green:hover {
    background: #4ddc69;
}

.btn-green:active {
    background: #fa9f31;
}

.copyright {
    font-size: 14px;
    color: #393b3b;
    text-align: center;
}

.ussr {
    font-size: 30px;
}
